.f-montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.f-montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
  
.photo-1x1 {
    width: 300px;
    height: 300px;
}

.intro .col:first-child {
    background: #d6d6d6;
}

#navbarContent a {
    text-decoration: none;
    position: relative;
}

#navbarContent a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45%;
    height: 2px;
    background-color: #00796b;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}

#navbarContent a:hover::after {
    transform: scaleX(1);
}

.intro-icn-link:hover{
    color: #00796b;
}

mark {
    background-color: #00796b38;
}

.c-underline {
    text-decoration: underline;
    text-decoration-color: #00796b; /* Color of the underline */
    color: black;
}

@media screen and (max-width: 575.98px) {
    .header-name {
        width: 13rem;
    }
}

section h1 {
    position: relative;
    padding-right: 20px;
}

section h1 a {
    text-decoration: none;
    color: #333;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    font-size: 1.2em;
    margin-left: 10px;
}

section h1:hover a {
    opacity: 1;
    color: #00796b
}

.c-teal {
    color: #00796b
}

.bg-c-teal {
    background-color: #00796b
}

.text-justify {
    text-align: justify;
}

.section-content p span {
    transition: text-decoration 0.4s ease;
}

.section-content p span:hover {
    text-decoration: underline;
}

.menu-content {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
}

.abt-giga-text, .exp-giga-text {
    position: absolute;
    z-index: -1;
    font-size: 170px;
    color: #00796b;
    opacity: 0.06;
    line-height: 120px;
}

.prj-giga-text {
    position: absolute;
    z-index: -1;
    font-size: 170px;
    color: #00796b;
    opacity: 0.06;
    line-height: 150px;
}

.f-20 {
    font-size: 20px !important;
}

.r-0 {
    right: 0;
}

.l-0 {
    left: 0;
}

.xp-role {
    font-size: 15px;
}

section {
    scroll-margin-top: 84px;
}

@media screen and (max-width: 576px) {
    section {
        scroll-margin-top: 196px;
    }
}

a.with-arrow {
    text-decoration: none;   
    display: inline-block;
    transition: transform 0.3s ease;
}

a.with-arrow:hover {
    transform: translateY(-5px);
}

.cert-container {
    min-height: 50vh;
}